/* Paleta Material Design 3 (equivalente a tailwind.config theme.extend.colors) */
:root {
  --md-secondary-container: #3b3b3b;
  --md-tertiary-fixed-dim: #e5e5e5;
  --md-on-primary-fixed-variant: #745716;
  --md-primary-container: #5d4201;
  --md-surface-dim: #0e0e0e;
  --md-error-container: #7f2927;
  --md-on-error-container: #ff9993;
  --md-primary-fixed: #ffdea5;
  --md-tertiary-dim: #ebebeb;
  --md-surface-container-high: #1f2020;
  --md-error-dim: #bb5551;
  --md-background: #0e0e0e;
  --md-surface-bright: #2c2c2c;
  --md-outline: #767575;
  --md-on-primary-container: #f3cb7f;
  --md-error: #ee7d77;
  --md-on-secondary-container: #c1bfbe;
  --md-on-primary-fixed: #543b00;
  --md-tertiary-fixed: #f3f3f3;
  --md-secondary-fixed: #e4e2e1;
  --md-inverse-on-surface: #565555;
  --md-on-tertiary-fixed: #484a4a;
  --md-tertiary: #f9f9f9;
  --md-surface-tint: #e9c176;
  --md-outline-variant: #484848;
  --md-on-error: #490106;
  --md-on-surface-variant: #acabaa;
  --md-surface-container-lowest: #000000;
  --md-on-tertiary: #5e5f5f;
  --md-primary: #e9c176;
  --md-on-secondary-fixed: #3f3f3f;
  --md-on-background: #e7e5e4;
  --md-inverse-primary: #785a1a;
  --md-inverse-surface: #fcf9f8;
  --md-secondary-dim: #9f9d9d;
  --md-on-primary: #553c00;
  --md-on-tertiary-fixed-variant: #656667;
  --md-primary-fixed-dim: #f8cf83;
  --md-tertiary-container: #ebebeb;
  --md-secondary: #9f9d9d;
  --md-primary-dim: #dab36a;
  --md-surface-container: #191a1a;
  --md-on-secondary: #202020;
  --md-surface: #0e0e0e;
  --md-on-surface: #e7e5e4;
  --md-surface-container-highest: #252626;
  --md-on-secondary-fixed-variant: #5c5b5b;
  --md-on-tertiary-container: #555757;
  --md-secondary-fixed-dim: #d6d4d3;
  --md-surface-variant: #252626;
  --md-surface-container-low: #131313;
}
